{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>



  <div class="jumbotron text-center">
      <img class="mb-4" src="https://i.ibb.co/9tXRzWn/regg.png" alt="" >
      <h1>About regiSTAR </h1>
      <p class="lead">This is a Registration Platform for events and all sorts</p>
      <p>--------------------------------------------------------------------</p>
  <div class="container">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut sollicitudin sapien. Vivamus pulvinar ipsum velit. Curabitur aliquam vitae lectus quis consequat. Duis elit libero, maximus id lectus nec, viverra varius sem. Morbi risus lacus, feugiat faucibus consectetur sed, finibus at mauris. Vivamus tempor, mi eget tempus tempus, arcu elit gravida ante, eget semper diam justo non purus. Mauris malesuada leo a leo rutrum pulvinar. Aliquam maximus quis augue id rhoncus. Curabitur in nibh nibh. Etiam dignissim posuere ex, sit amet cursus ipsum. Phasellus mattis maximus lobortis. In hac habitasse platea dictumst. Proin eget metus posuere, rutrum sapien non, rutrum ante.
<br><br><p>--------------------------------------------------------------------</p>
Nullam utdrertibulum diam, sit amet molestie erat erat ac risus. Aenean ante mauris, commodo a erat vel, maximus volutpat ligula. Phasellus ante tellus, convallis nec ornare quis, accumsan in eros. Proin interdum dignissim cursus. Nullam turpis mauris, cursus eget fermentum et, rutrum sit amet velit. Ut eu leo ipsum. Suspendisse vitae mi non risus ornare malesuada. Nullam elit justo, suscipit sed porta sit amet, ornare sit amet lectus. Aliquam eu velit sed tellus vulputate ultrices eu dictum dolor. Etiam sit amet velit laoreet, pulvinar sapien in, placerat neque. Etiam sem elit, condimentum sit amet facilisis vel, interdum in lacus. Nunc sit amet est ante.
<br> <br>
<p>--------------------------------------------------------------------</p>
Nam adunt. Vestibulum pulvinar, nunc nec posuere interdum, odio ante luctus odio, id fermentum metus risus ac elit. Phasellus at sagittis diam. Suspendisse porttitor feugiat dapibus. Praesent sapien lacus, ornare id pulvinar nec, imperdiet id tellus. Duis et pretium magna. </p>
 </div>
</div>
{% endblock %}
